.SrContainerObjectTree {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .SrContainerObjectTreeTree {
	flex-grow: 1;
	flex-shrink: 1;
	width: 0;

	&, * {
	  height: auto;
	  padding: 5px;
	}

	* {
	  width: 100%;
	}

	.SrContainerObjectTreeNode {
	  align-items: center;
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;

	  .SrContainerObjectTreeArrow {
		cursor: pointer;
		flex-grow: 0;
		flex-shrink: 0;
		height: 20px;
		transition: transform 50ms;
		width: 20px;

		&:before {
		  border-right: 1px solid currentColor;
		  border-top: 1px solid currentColor;
		  content: "";
		  display: block;
		  height: 10px;
		  margin-left: -5px;
		  margin-top: 2px;
		  transform: rotate(45deg);
		  width: 10px;
		}

		& ~ .SrContainerObjectTreeLink {
		  cursor: pointer;
		  margin-left: 0;
		}

		&.SrContainerObjectTreeArrowOpen {
		  transform: rotate(90deg);
		}

		&:not(.SrContainerObjectTreeArrowOpen) ~ .SrContainerObjectTreeChildren {
		  display: none;
		}
	  }

	  .SrContainerObjectTreeLink {
		align-items: center;
		cursor: default;
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		flex-shrink: 1;
		flex-wrap: wrap;
		margin-left: 20px;
		padding: 0;
		width: 0;

		&:link {
		  cursor: pointer;
		}

		.SrContainerObjectTreeIcon {
		  flex-grow: 0;
		  flex-shrink: 0;
		  height: 20px;
		  padding: 0;
		  width: 20px;
		}

		.SrContainerObjectTreeTitle {
		  flex-grow: 1;
		  flex-shrink: 1;
		  overflow: hidden;
		  text-overflow: ellipsis;
		  white-space: nowrap;
		  width: 0;
		}
	  }

	  .SrContainerObjectTreeDescription {
		margin-left: 40px;
		word-break: break-all;
	  }

	  .SrContainerObjectTreeCountSubChildrenTypes {
		color: gray;
		font-style: italic;
		margin-left: 40px;
		word-break: break-all;
	  }

	  .SrContainerObjectTreeChildren {
		border-left: 1px solid currentColor;
		flex-grow: 0;
		flex-shrink: 0;
		margin-left: 35px;
	  }
	}
  }

  .SrContainerObjectTreeEditUserSettings {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 0;
	height: auto;
	padding: 5px;
	width: auto;

	.SrContainerObjectTreeEditUserSettingsIcon {
	  ~ .SrContainerObjectTreeEditUserSettingsForm {
		background-color: #EEEEEE;
		margin-top: 3px;
		position: relative;

		&:before {
		  background-color: #EEEEEE;
		  content: "";
		  display: block;
		  height: 10px;
		  position: absolute;
		  right: 2px;
		  top: -5px;
		  transform: rotate(-45deg);
		  width: 10px;
		}
	  }

	  &.SrContainerObjectTreeEditUserSettingsIconOpen {
		a {
		  color: #000000;
		}
	  }

	  &:not(.SrContainerObjectTreeEditUserSettingsIconOpen) {
		~ .SrContainerObjectTreeEditUserSettingsForm {
		  display: none;
		}
	  }
	}
  }

  .SrContainerObjectTreeEditUserSettingsForm {
	.il-standard-form {
	  &, * {
		background-color: transparent;
		margin: 0 !important;
		padding: 0;
	  }

	  .il-standard-form-header, .il-standard-form-footer, .control-label {
		display: none;
	  }

	  select {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		border: none;
		border-radius: 0;
		outline: none;
		overflow: auto;

		option {
		  height: 20px;
		  padding: 0 5px;
		  width: 170px;
		}
	  }
	}
  }

  .SrContainerObjectTreeLoading {
	animation: SrContainerObjectTreeLoading 1s infinite;
	border-top: 1px solid currentColor;
	border-radius: 20px;
	flex-grow: 0;
	flex-shrink: 0;
	height: 20px;
	margin: 5px;
	padding: 0;
	width: 20px;

	@keyframes SrContainerObjectTreeLoading {
	  0% {
		transform: rotate(0deg);
	  }
	  100% {
		transform: rotate(360deg);
	  }
	}
  }

  .SrContainerObjectTreeEmpty {
	color: gray;
	font-style: italic;
  }

  .SrContainerObjectTreeError {
	color: red;
	font-style: italic;
  }
}
